{
  "semi": true,
  "singleQuote": true,
  "arrowParens": "avoid",
  "trailingComma": "es5",
  "tabWidth": 2,
  "importOrder": [
    "^react",
    "^next",
    "<THIRD_PARTY_MODULES>",
    "^@/types(.*)$",
    "^@/lib/(.*)$",
    "^@/context/(.*)$",
    "^@/components/(.*)$",
    "^@/styles/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true
}
