@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(247, 247, 248);
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
